ProjetLabo Dev/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:12085/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:12085/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:12085/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PlanningWebServ" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_TestConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:TestConnection" />
  </wsdl:message>
  <wsdl:message name="IService1_TestConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_selectArtisans_InputMessage">
    <wsdl:part name="parameters" element="tns:selectArtisans" />
  </wsdl:message>
  <wsdl:message name="IService1_selectArtisans_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectArtisansResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ArtisanSelectByDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:ArtisanSelectByDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_ArtisanSelectByDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:ArtisanSelectByDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ArtisanAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:ArtisanAdd" />
  </wsdl:message>
  <wsdl:message name="IService1_ArtisanAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:ArtisanAddResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ArtisanRemove_InputMessage">
    <wsdl:part name="parameters" element="tns:ArtisanRemove" />
  </wsdl:message>
  <wsdl:message name="IService1_ArtisanRemove_OutputMessage">
    <wsdl:part name="parameters" element="tns:ArtisanRemoveResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectAllClients_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllClients" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectAllClients_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllClientsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ClientSelectByDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:ClientSelectByDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_ClientSelectByDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClientSelectByDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ClientAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:ClientAdd" />
  </wsdl:message>
  <wsdl:message name="IService1_ClientAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClientAddResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ClientRemove_InputMessage">
    <wsdl:part name="parameters" element="tns:ClientRemove" />
  </wsdl:message>
  <wsdl:message name="IService1_ClientRemove_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClientRemoveResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/TestConnection" message="tns:IService1_TestConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/TestConnectionResponse" message="tns:IService1_TestConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectArtisans">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/selectArtisans" message="tns:IService1_selectArtisans_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/selectArtisansResponse" message="tns:IService1_selectArtisans_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ArtisanSelectByDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ArtisanSelectByDetails" message="tns:IService1_ArtisanSelectByDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ArtisanSelectByDetailsResponse" message="tns:IService1_ArtisanSelectByDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ArtisanAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ArtisanAdd" message="tns:IService1_ArtisanAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ArtisanAddResponse" message="tns:IService1_ArtisanAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ArtisanRemove">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ArtisanRemove" message="tns:IService1_ArtisanRemove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ArtisanRemoveResponse" message="tns:IService1_ArtisanRemove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAllClients">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectAllClients" message="tns:IService1_SelectAllClients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectAllClientsResponse" message="tns:IService1_SelectAllClients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClientSelectByDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ClientSelectByDetails" message="tns:IService1_ClientSelectByDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ClientSelectByDetailsResponse" message="tns:IService1_ClientSelectByDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClientAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ClientAdd" message="tns:IService1_ClientAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ClientAddResponse" message="tns:IService1_ClientAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClientRemove">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ClientRemove" message="tns:IService1_ClientRemove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ClientRemoveResponse" message="tns:IService1_ClientRemove_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestConnection">
      <soap:operation soapAction="http://tempuri.org/IService1/TestConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectArtisans">
      <soap:operation soapAction="http://tempuri.org/IService1/selectArtisans" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ArtisanSelectByDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/ArtisanSelectByDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ArtisanAdd">
      <soap:operation soapAction="http://tempuri.org/IService1/ArtisanAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ArtisanRemove">
      <soap:operation soapAction="http://tempuri.org/IService1/ArtisanRemove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllClients">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectAllClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientSelectByDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/ClientSelectByDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientAdd">
      <soap:operation soapAction="http://tempuri.org/IService1/ClientAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientRemove">
      <soap:operation soapAction="http://tempuri.org/IService1/ClientRemove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:12085/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>