ProjetLabo Dev/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12085/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PlanningWebServ" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PlanningWebServ" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PlanningWebServ" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestConnection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestConnectionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectArtisans">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="selectArtisansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PlanningWebServ" minOccurs="0" name="selectArtisansResult" nillable="true" type="q3:ArrayOfArtisan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArtisanSelectByDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PlanningWebServ" minOccurs="0" name="artisanInfo" nillable="true" type="q4:Artisan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArtisanSelectByDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PlanningWebServ" minOccurs="0" name="ArtisanSelectByDetailsResult" nillable="true" type="q5:ArrayOfArtisan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArtisanAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PlanningWebServ" minOccurs="0" name="artisan" nillable="true" type="q6:Artisan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArtisanAddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ArtisanRemove">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PlanningWebServ" minOccurs="0" name="idArtisan" nillable="true" type="q7:Artisan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArtisanRemoveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllClients">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllClientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PlanningWebServ" minOccurs="0" name="SelectAllClientsResult" nillable="true" type="q8:ArrayOfClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientSelectByDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PlanningWebServ" minOccurs="0" name="artisanInfo" nillable="true" type="q9:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientSelectByDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PlanningWebServ" minOccurs="0" name="ClientSelectByDetailsResult" nillable="true" type="q10:ArrayOfClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/PlanningWebServ" minOccurs="0" name="client" nillable="true" type="q11:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientAddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientRemove">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/PlanningWebServ" minOccurs="0" name="idClient" nillable="true" type="q12:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientRemoveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>