ProjetLabo Dev/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PlanningWebServ" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PlanningWebServ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="ArrayOfArtisan">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Artisan" nillable="true" type="tns:Artisan" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArtisan" nillable="true" type="tns:ArrayOfArtisan" />
  <xs:complexType name="Artisan">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adresse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodePostal" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prenom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sigle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idArtisan" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Artisan" nillable="true" type="tns:Artisan" />
  <xs:complexType name="ArrayOfClient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Client" nillable="true" type="tns:Client" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClient" nillable="true" type="tns:ArrayOfClient" />
  <xs:complexType name="Client">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adresse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodePostal" type="xs:int" />
      <xs:element minOccurs="0" name="DateDerniereFacturation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateEntree" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pays" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prenom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sigle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telephone" type="xs:int" />
      <xs:element minOccurs="0" name="idClient" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Client" nillable="true" type="tns:Client" />
</xs:schema>